/* propiedad:valor;
propiedad:valor;
propiedad:valor; */
body{
    background-color: violet;
}
.caja1 {
    color: green;
    background-color: yellow;
    height: 250px;
    width: 250px;

    border: 2px solid black;
    padding: 30px;
margin: 10px;
box-sizing: content-box;

}
.caja2 {
color: black;
background-color:  white;
height: 250px;
width: 250px;

}

.caja3 {

    color: orange;
    background-color: #fff;
    margin: 5px;
    height: 250px;
    width: 250px;

}